@media (max-width: 480px)
    // Landscape phones and down

    body
        padding 0 20px
        text-rendering optimizeSpeed

    .layout-container
        width auto

@media (max-width: 767px)
    // Landscape phone to portrait tablet

    body
        padding 0 20px
        text-rendering optimizeSpeed

    .layout-container
        width auto

@media (min-width: 768px) and (max-width: 979px)
    // Portrait tablet to landscape and desktop

    .layout-container
        width 724px

@media (min-width: 1200px)
    // Large desktop

    .layout-container
        width 1170px
