@media screen and (max-width: 480px)
    // Landscape phones and down

    body
        text-rendering optimizeSpeed

    .content-left-column
        height 15%

    .content-right-column
        height 85%

@media screen and (max-width: 767px)
    // Landscape phone to portrait tablet

    body
        text-rendering optimizeSpeed

    .content-left-column
        height 20%

    .content-right-column
        height 80%

@media screen and (min-width: 768px) and (max-width: 992px)
    // Portrait tablet to landscape and desktop

    .content-left-column
        height 22%

    .content-right-column
        height 78%

@media screen and (min-width: 992px)
    // Desktop

    .content-left-column, .content-right-column
        height 100%
