// UI

// Button
.ui-button,
a.ui-button,
button.ui-button
    background-color #eee
    background-image linear-gradient(top, #fafafa, #eaeaea)
    background-repeat repeat-x
    border 1px solid #c9c9c9
    border-radius 3px
    box-shadow inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.1)
    color #777
    font-weight bold
    cursor pointer
    display inline-block
    font-size 14px
    line-height 18px
    text-align center
    text-decoration none
    text-shadow -1px -1px 0 #fff
    transition all 0.1s linear
    padding 5px 10px
    vertical-align middle

    &:hover
        color #777
        text-decoration none

    &:active,
    &[data-state="selected"]
        box-shadow inset 0 1px 10px rgba(0, 0, 0, 0.2)

// List
.ui-list
    margin 0
    padding 0
    list-style none

.ui-grid
    @extend .ui-list

    li
        display inline-block
        margin-right -1px

        &:last-child
            margin-right 0
