/* Operations list component */
.operation-toolbar {
    border: none;
}

.operation-toolbar ul {
    background-color: transparent;
}

.operation-toolbar > form {
    border: none;
}

/* Main panel, with form and operations */
.operation-table caption {
    color: #777777;
}

.operation-table > tbody > tr {
    border-right-color: #EAEAEA;
}

.operation-table td.amount {
    font-weight: bold;
}

.operation-table > tbody > tr.income td.amount {
    color: #00A651;
}

.operation-table td.modale-button > button {
    color: #337AB7;
}
