/* Operations list component */
.operation-toolbar {
    border-color: #CFD9DB;
    border-radius: 3px;
}

.operation-toolbar ul {
    background-color: #F1F1F1;
}

.operation-toolbar > form {
    border-top-color: #CFD9DB;
}

/* Main panel, with form and operations */
.operation-table caption {
    color: #777777;
}

.operation-table > tbody > tr {
    border-right-color: #EAEAEA;
}

.operation-table td.amount {
    font-weight: bold;
}

.operation-table > tbody > tr.income td.amount {
    color: #00A651;
}

.operation-table td.modale-button > button {
    color: #337AB7;
}
