{
    "presets": [["env", { "modules": false }], "react", "stage-0"],
    "env": {
        "tests": {
            "presets": ["env", "react", "stage-0"]
        },
        "production": {
            "plugins": [
                ["transform-react-remove-prop-types", {
                    "mode": "remove",
                    "removeImport": true
                }],
                "istanbul"
            ]
        }
    }
}
