{
    "presets": [
        ["env", { "modules": false }],
        "react",
        "stage-2"
    ],
    "env": {
        "tests": {
            "presets": ["env", "react", "stage-2"]
        },
        "production": {
            "plugins": [
                ["transform-react-remove-prop-types", {
                    "mode": "remove",
                    "removeImport": true
                }]
            ]
        }
    }
}
