# node_modules ignored by default

# ignore files compiled
build/

# ignore vendor JS files
client/vendor/

# ignore locales
shared/locales

# ignore kresus binary
bin/kresus.js

# ignore tests
tests/
