{
    "extends": "stylelint-config-standard",
    "rules": {
        "no-descending-specificity": null,
        "at-rule-empty-line-before": null,
        "selector-class-pattern": null,
        "declaration-block-no-redundant-longhand-properties": null,
        "value-keyword-case": [
            "lower",
            {
                "ignoreKeywords": ["currentColor"]
            }
        ]
    }
}
