.budget-date button.budget-assignment {
    width: 33.33%;
}

.buttons-group.budget-date {
    padding: 0;
    border: 0;
    max-width: 23em !important;
}

@media screen and (width <= 768px) {
    /* Hide budget assignments label */
    .budget-date button.budget-assignment span {
        display: none;
    }

    .budget-date button.budget-assignment .fa {
        margin-right: 0;
    }
}
