.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.not-clickable {
    cursor: not-allowed;
}

.right-align {
    display: flex;
    justify-content: flex-end;
}

.badge {
    display: inline-block;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    margin-left: 0.5em;
    margin-right: 1em;
    line-height: 1.4em;
}

.link {
    text-decoration: underline;
}

.link:hover,
.link:active,
.link:focus {
    text-decoration: none;
}

/* Show borders on forms elements with "light" class only on hover/active */
input.light:not(:hover):not(:focus):not(:active),
.Select.light:not(:hover) .Select__control:not(.Select__control--is-focused) {
    color: inherit;
    border-color: transparent;
    background-image: none;
    background-color: transparent;
}

input.text-bold {
    font-weight: bold;
}

input.text-italic {
    font-style: italic;
}

.Select.light:not(:hover) .Select__control:not(.Select__control--is-focused) .Select__indicators {
    visibility: hidden;
}

.form-element-block {
    display: block;
    width: 100%;
}
