.icon
{
    background-repeat: no-repeat;
    height: 48px;
    width: 48px;
}

.icon-afer { background-image: url('../images/sprite.svg#afer'); }
.icon-alloresto { background-image: url('../images/sprite.svg#alloresto'); }
.icon-amazonstorecard { background-image: url('../images/sprite.svg#amazonstorecard'); }
.icon-americanexpress { background-image: url('../images/sprite.svg#americanexpress'); }
.icon-amundi { background-image: url('../images/sprite.svg#amundi'); }
.icon-apivie { background-image: url('../images/sprite.svg#apivie'); }
.icon-axabanque { background-image: url('../images/sprite.svg#axabanque'); }
.icon-banqueaccord { background-image: url('../images/sprite.svg#banqueaccord'); }
.icon-banquepopulaire { background-image: url('../images/sprite.svg#banquepopulaire'); }
.icon-barclays { background-image: url('../images/sprite.svg#barclays'); }
.icon-bforbank { background-image: url('../images/sprite.svg#bforbank'); }
.icon-bnporc { background-image: url('../images/sprite.svg#bnporc'); }
.icon-boursorama { background-image: url('../images/sprite.svg#boursorama'); }
.icon-bp { background-image: url('../images/sprite.svg#bp'); }
.icon-bred { background-image: url('../images/sprite.svg#bred'); }
.icon-caels { background-image: url('../images/sprite.svg#caels'); }
.icon-caissedepargne { background-image: url('../images/sprite.svg#caissedepargne'); }
.icon-carrefourbanque { background-image: url('../images/sprite.svg#carrefourbanque'); }
.icon-cic { background-image: url('../images/sprite.svg#cic'); }
.icon-citelis { background-image: url('../images/sprite.svg#citelis'); }
.icon-citibank { background-image: url('../images/sprite.svg#citibank'); }
.icon-cmb { background-image: url('../images/sprite.svg#cmb'); }
.icon-cmso { background-image: url('../images/sprite.svg#cmso'); }
.icon-cragr { background-image: url('../images/sprite.svg#cragr'); }
.icon-creditcooperatif { background-image: url('../images/sprite.svg#creditcooperatif'); }
.icon-creditdunordpee { background-image: url('../images/sprite.svg#creditdunordpee'); }
.icon-creditdunord { background-image: url('../images/sprite.svg#creditdunord'); }
.icon-creditmutuel { background-image: url('../images/sprite.svg#creditmutuel'); }
.icon-delubac { background-image: url('../images/sprite.svg#delubac'); }
.icon-fakebank1 { background-image: url('../images/sprite.svg#fakebank1'); }
.icon-fakebank2 { background-image: url('../images/sprite.svg#fakebank2'); }
.icon-fortuneo { background-image: url('../images/sprite.svg#fortuneo'); }
.icon-ganassurances { background-image: url('../images/sprite.svg#ganassurances'); }
.icon-groupamaes { background-image: url('../images/sprite.svg#groupamaes'); }
.icon-hsbc { background-image: url('../images/sprite.svg#hsbc'); }
.icon-ing { background-image: url('../images/sprite.svg#ing'); }
.icon-kiwibank { background-image: url('../images/sprite.svg#kiwibank'); }
.icon-lcl { background-image: url('../images/sprite.svg#lcl'); }
.icon-n26 { background-image: url('../images/sprite.svg#n26'); }
.icon-oney { background-image: url('../images/sprite.svg#oney'); }
.icon-paypal { background-image: url('../images/sprite.svg#paypal'); }
.icon-s2e { background-image: url('../images/sprite.svg#s2e'); }
.icon-societegenerale { background-image: url('../images/sprite.svg#societegenerale'); }
.icon-vicseccard { background-image: url('../images/sprite.svg#vicseccard'); }
.icon-wellsfargo { background-image: url('../images/sprite.svg#wellsfargo'); }
.icon-yomoni { background-image: url('../images/sprite.svg#yomoni'); }
