
.icon {
  background-image: url('../images/sprite.png');
}

.icon-cragr {
  background-position: -0px -0px;
  width: 46px;
  height: 46px;
}
.icon-afer {
  background-position: -0px -46px;
  width: 46px;
  height: 46px;
}
.icon-amazonstorecard {
  background-position: -0px -92px;
  width: 46px;
  height: 46px;
}
.icon-americanexpress {
  background-position: -0px -138px;
  width: 46px;
  height: 46px;
}
.icon-amundi {
  background-position: -0px -184px;
  width: 46px;
  height: 46px;
}
.icon-apivie {
  background-position: -0px -230px;
  width: 46px;
  height: 46px;
}
.icon-axabanque {
  background-position: -0px -276px;
  width: 46px;
  height: 46px;
}
.icon-banqueaccord {
  background-position: -0px -322px;
  width: 46px;
  height: 46px;
}
.icon-banquepopulaire {
  background-position: -0px -368px;
  width: 46px;
  height: 46px;
}
.icon-barclays {
  background-position: -0px -414px;
  width: 46px;
  height: 46px;
}
.icon-bforbank {
  background-position: -0px -460px;
  width: 46px;
  height: 46px;
}
.icon-bnporc {
  background-position: -0px -506px;
  width: 46px;
  height: 46px;
}
.icon-boursorama {
  background-position: -0px -552px;
  width: 46px;
  height: 46px;
}
.icon-bp {
  background-position: -0px -598px;
  width: 46px;
  height: 46px;
}
.icon-bred {
  background-position: -0px -644px;
  width: 46px;
  height: 46px;
}
.icon-caels {
  background-position: -0px -690px;
  width: 46px;
  height: 46px;
}
.icon-caissedepargne {
  background-position: -0px -736px;
  width: 46px;
  height: 46px;
}
.icon-carrefourbanque {
  background-position: -0px -782px;
  width: 46px;
  height: 46px;
}
.icon-cic {
  background-position: -0px -828px;
  width: 46px;
  height: 46px;
}
.icon-citelis {
  background-position: -0px -874px;
  width: 46px;
  height: 46px;
}
.icon-citibank {
  background-position: -0px -920px;
  width: 46px;
  height: 46px;
}
.icon-cmb {
  background-position: -0px -966px;
  width: 46px;
  height: 46px;
}
.icon-cmso {
  background-position: -0px -1012px;
  width: 46px;
  height: 46px;
}
.icon-alloresto {
  background-position: -0px -1058px;
  width: 46px;
  height: 46px;
}
.icon-creditcooperatif {
  background-position: -0px -1104px;
  width: 46px;
  height: 46px;
}
.icon-creditdunord {
  background-position: -0px -1150px;
  width: 46px;
  height: 46px;
}
.icon-creditdunordpee {
  background-position: -0px -1196px;
  width: 46px;
  height: 46px;
}
.icon-creditmutuel {
  background-position: -0px -1242px;
  width: 46px;
  height: 46px;
}
.icon-delubac {
  background-position: -0px -1288px;
  width: 46px;
  height: 46px;
}
.icon-fakebank1 {
  background-position: -0px -1334px;
  width: 46px;
  height: 46px;
}
.icon-fakebank2 {
  background-position: -0px -1380px;
  width: 46px;
  height: 46px;
}
.icon-fortuneo {
  background-position: -0px -1426px;
  width: 46px;
  height: 46px;
}
.icon-ganassurances {
  background-position: -0px -1472px;
  width: 46px;
  height: 46px;
}
.icon-groupamaes {
  background-position: -0px -1518px;
  width: 46px;
  height: 46px;
}
.icon-hsbc {
  background-position: -0px -1564px;
  width: 46px;
  height: 46px;
}
.icon-ing {
  background-position: -0px -1610px;
  width: 46px;
  height: 46px;
}
.icon-kiwibank {
  background-position: -0px -1656px;
  width: 46px;
  height: 46px;
}
.icon-lcl {
  background-position: -0px -1702px;
  width: 46px;
  height: 46px;
}
.icon-n26 {
  background-position: -0px -1748px;
  width: 46px;
  height: 46px;
}
.icon-oney {
  background-position: -0px -1794px;
  width: 46px;
  height: 46px;
}
.icon-paypal {
  background-position: -0px -1840px;
  width: 46px;
  height: 46px;
}
.icon-s2e {
  background-position: -0px -1886px;
  width: 46px;
  height: 46px;
}
.icon-societegenerale {
  background-position: -0px -1932px;
  width: 46px;
  height: 46px;
}
.icon-vicseccard {
  background-position: -0px -1978px;
  width: 46px;
  height: 46px;
}
.icon-wellsfargo {
  background-position: -0px -2024px;
  width: 46px;
  height: 46px;
}
.icon-yomoni {
  background-position: -0px -2070px;
  width: 46px;
  height: 46px;
}
