.error-reporter {
    overflow: auto;
    padding: 1em;
    background-color: white;
    color: #444444;
}

.error-reporter pre {
    border: 1px solid;
    padding: 1em;
    overflow: inherit;
    border-radius: 1px;
    border-color: #2F2F2F;
    background-color: #444444;
    color: white;
}
