.form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2em;
}

.form-row label {
    display: block;
    text-align: right;
    width: 25%;
}

.form-row label .label-text {
    color: var(--main-font-color);
    font-weight: bolder;
}

.form-row .input {
    margin-left: 1em;
    flex-grow: 1;
}

.form-row .input * {
    max-width: 18em;
}

.form-row .help {
    flex-basis: 100%;
    margin-left: calc(1em + 25%);
    margin-top: 0.5em;
    font-size: 85%;
}

.form-row .help-text {
    max-width: 40em;
    margin-bottom: 0;
}

.form-row-offset {
    margin-left: calc(25% + 1em);
}

.form-row.fill label {
    flex: 1 1 50%;
}

.form-row.fill .input {
    flex: 0;
}

@media (max-width: 768px) {
    .form-row .help,
    .form-row .input {
        margin-left: 0;
    }

    .form-row .input * {
        max-width: inherit;
    }

    .form-row label {
        text-align: inherit;
    }

    .form-row > * {
        flex: 1 1 100%;
    }

    .form-row-inline label {
        flex: 1 1 50%;
    }

    .form-row-inline .input {
        flex: 0;
    }

    .form-row-inline .help {
        flex: 1 1 100%;
    }

    .form-row .help-text {
        max-width: 100%;
    }

    .form-row-offset {
        margin-left: 0;
    }
}
