#loading-overlay {
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #3D424C;
}

#loading-overlay > .loading-message {
    height: auto;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 1em;
    background-color: white;
}

@media (max-width: 768px) {
    #loading-overlay > .loading-message {
        width: 100%;
        height: 100%;
        margin: 0;
    }
}

#loading-overlay > .loading-message h3 {
    margin: 0;
    background-color: #F1F1F1;
    color: #777777;
}

#loading-overlay > .loading-message > * {
    padding-top: 1em;
    padding-bottom: 1em;
}

body.dark #loading-overlay {
    background-color: #444444;
}

body.dark #loading-overlay > .loading-message,
body.dark #loading-overlay > .loading-message h3 {
    background-color: transparent;
}

body.dark #loading-overlay > .loading-message h3 {
    color: #F1F1F1;
}
