.Select__menu.Select__multiple-select-menu {
    background-color: transparent;
    color: inherit;
    cursor: default;
    display: block;
    font-size: inherit;
    padding: 8px 6px;
    width: 100%;
    user-select: none;
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
    box-sizing: border-box;
}

.Select__multiple-select-menu label {
    font-weight: bold;
    padding-left: 0 !important;
}

.Select__multiple-select-menu input + label {
    margin-left: 0.5em;
}
