.swipable-table {
    border: 0;
}

@media screen and (max-width: 768px) {
    /**
     * The table width is equal to a 100% width + the 2 swipable actions' width (200px).
     * The cells are then translated 100px to the left, making the left swipe action invisible, and
     * the right swipe action is hidden by hiding the overflow.
     * On swipe, the cells are translated back to the left or right, making the swipable actions
     * visible.
     */
    .swipable-table-wrapper {
        overflow-x: hidden;
    }

    .swipable-table {
        /* 200px = twice the swipable action column */
        width: calc(100% + 200px);
        max-width: calc(100% + 200px);
        overflow: hidden;
    }

    .swipable-table th.swipable-action {
        width: 100px;
        visibility: hidden;
    }

    .swipable-table td.swipable-action {
        text-align: center;
    }

    .swipable-table td.swipable-action > .fa {
        display: inline-flex;
        color: inherit;
    }

    .swipable-table tr.swiped .swipable-action {
        width: 100px;
        background-color: #DDDDDD;
    }

    body.dark .swipable-table tr.swiped .swipable-action {
        background-color: #444444;
    }

    .swipable-table tr.swiped .swipable-action > :first-child {
        margin-right: 1ex;
    }

    .swipable-table tr.swiped .swipable-action-left {
        text-align: right;
    }

    .swipable-table tr.swiped .swipable-action-right {
        text-align: left;
    }

    .swipable-table tr.swiped-effective .swipable-action-left,
    body.dark .swipable-table tr.swiped-effective .swipable-action-left {
        background-color: #00BFF3;
        color: white;
    }

    .swipable-table tr.swiped-effective .swipable-action-right,
    body.dark .swipable-table tr.swiped-effective .swipable-action-right {
        background-color: #F30000;
        color: white;
    }

    .swipable-table tr > * {
        translate: -100px;
    }
}
