.account-summary {
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1em;
    color: var(--wells-balance-color);
    border: 1px solid currentColor;
    background-color: transparent;
    border-radius: 0;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    padding-left: 5.5em;
    text-align: right;
}

.account-summary .icon {
    flex-shrink: 0;
    margin: 0;
    border-radius: 0;
    background-color: var(--wells-balance-color);
    color: white;
    display: flex;
    width: 3em;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.account-summary > div {
    flex: auto;
    flex-shrink: 0;
}

.account-summary > div > p {
    margin: 0;
    display: table-row;
}

.account-summary > div > p > * {
    display: table-cell;
}

.account-summary > div > p > .label {
    width: 100%;
    padding-right: 3rem;
}

@media (max-width: 768px) {
    .account-summary {
        display: block;
        padding: 0.5em;
    }

    .account-summary > * {
        display: block;
        margin: 0;
    }

    .account-summary .separator {
        display: none;
    }

    .account-summary > div > p {
        margin: 0;
        display: block;
    }

    .account-summary > div > p > * {
        display: inline;
    }

    .account-summary > div > p > .label {
        padding-right: 0;
        margin-right: 1em;
    }

    .account-summary > div > p.main-balance {
        display: inline-flex;
        flex-wrap: wrap;
    }

    .account-summary > div > p.main-balance > .label {
        margin-right: 0;
        display: block;
        order: 1;
    }

    .account-summary > div > p.main-balance > .label .date {
        display: block;
    }

    .account-summary > div > p.main-balance > .amount {
        flex-grow: 1;
        font-size: 1.5em;
    }
}

.account-summary p.main-balance {
    font-size: 1.5em;
}

.account-summary .date {
    text-transform: lowercase;
}

.account-summary .amount {
    font-weight: bold;
}

@media (max-width: 768px) {
    .account-summary p.main-balance {
        font-size: 1em;
    }

    .account-summary p.main-balance .amount {
        font-size: 1.5em;
    }
}
