/* Onboarding */
.onboarding {
    margin: auto;
    width: 100%;
    max-width: 800px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    overflow: auto;
    flex: auto;
}

.onboarding header {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    overflow: initial;
}

.onboarding header h1 {
    margin-bottom: 1em;
    font-weight: initial;
}

.onboarding header .locale-selector {
    float: right;
    position: relative;
    top: -5px;
}

.onboarding .onboarding-panes li {
    list-style-type: none;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.onboarding-panes {
    display: flex;
    padding: 1em;
}

.onboarding-panes > a {
    flex: auto;
    width: 30%;
    border: 1px solid;
    margin: 0.5em;
    padding: 0;
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
}

.onboarding-panes > a p .fa {
    font-size: 75px;
}

.onboarding-panes > a h3 {
    padding: 0;
    text-align: center;
    font-weight: bold;
    height: 2em;
}

.onboarding-panes > a h3 + div {
    flex: auto;
}

.onboarding-panes > a > * {
    padding: 1em;
    margin-bottom: 1em;
}

.onboarding-panes > a img {
    width: 100%;
    margin-bottom: 2em;
}

.onboarding-panes > a > p:last-child {
    margin: 0;
    text-align: center;
}

.onboarding-panes .small-only {
    display: none;
}

.onboarding-panes h3 .fa {
    margin-right: 0.5em;
}

.onboarding .onboarding-newbank .buttons-toolbar {
    justify-content: space-between;
}

.onboarding-content {
    margin-bottom: 2em;
}

.onboarding-content .buttons-toolbar {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .onboarding header {
        height: auto;
    }

    .onboarding header h1 {
        display: block;
    }

    .onboarding header .locale-selector {
        display: block;
        width: 100%;
        margin: auto;
        float: none;
        margin-bottom: 1em;
    }

    .onboarding-panes {
        display: initial;
    }

    .onboarding-panes > a {
        width: auto;
    }

    .onboarding-panes .fa {
        display: none;
    }

    .onboarding-panes > a h3 {
        height: auto;
        margin-left: 1em;
        margin-right: 1em;
    }

    .onboarding-panes > a > * {
        padding: auto;
        margin-bottom: auto;
    }

    .onboarding-panes .small-only {
        display: initial;
    }
}
