body {
    --charts-lines-color: #008080;
    --charts-axis-color: #000000;
}

body.dark {
    --charts-lines-color: #FFFFFF;
    --charts-axis-color: #FFFFFF;
}

body.dark #barchart {
    color: black;
}

.charts > p:first-child {
    overflow: auto;
}

.charts form {
    margin: 1em 0;
}

.pie-charts {
    display: flex;
    flex-wrap: wrap;
}

/* Display two pie charts on large screen, only one on small screens. */
.pie-charts > * {
    flex: 1 1 49%;
    text-align: center;
}

@media (max-width: 768px) {
    .pie-charts > * {
        flex-basis: 100%;
    }
}

.pie-charts .tooltipped {
    margin-right: 1ex;
}
