body {
    --charts-lines-color: #008080;
    --charts-axis-color: #000000;
    --charts-positive-fill-color: #D9ECEC;
    --charts-negative-fill-color: #F78B83;
}

body.dark {
    --charts-lines-color: #FFFFFF;
    --charts-axis-color: #FFFFFF;

    /* Same color as the active item in the menu but different variable name since there is no semantic relation */
    --charts-positive-fill-color: #6792D8;

    /* Same color as the negative amount in the menu but different variable name since there is no semantic relation */
    --charts-negative-fill-color: #F26C4F;
}

body.dark #barchart {
    color: black;
}

.charts > p:first-child {
    overflow: auto;
}

.charts form {
    margin: 1em 0;
}

/* Display two pie charts on large screen, only one on small screens. */
.pie-charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.pie-charts > * {
    text-align: center;
}

@media (max-width: 768px) {
    .pie-charts {
        grid-template-columns: repeat(1, 1fr);
    }
}

.pie-charts .tooltipped {
    margin-right: 1ex;
}
