@import '~../light/style.css';

:root {
    --wells-received-color: #00CA62;
    --wells-saved-color: #FFFFFF;
    --main-font-color: white;
    --popover-background-color: #444444;
    --popover-border-color: #222222;
    --popover-shadow-color: #000000;
}

body {
    color: #F9FCFE;
    background: #3D424C;
}

a,
a:hover,
a:focus {
    color: #337AB7;
    text-decoration: none;
    outline: 0;
}

input[type='checkbox'] {
    border-color: #FFFFFF;
    background-color: transparent;
}

input[type='checkbox']:checked {
    color: #666666;
    background-color: #FFFFFF;
}

input[type='checkbox'].switch:not(:checked) {
    background-color: white;
}

input[type='checkbox'].switch:not(:checked)::after {
    background-color: #555555;
}

#content {
    background-color: #54575C;
    color: #F9FCFE;
}

header,
main nav {
    background-color: #2D2C2C;
    color: #FFFFFF;
}

main nav {
    border-right-color: transparent;
}

table caption {
    color: inherit;
    background-color: #444444;
}

table:not(.no-hover) > tbody > tr:hover {
    background-color: #4A4949;
}

table.striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #3C3C3C;
}

.tabs-container-selector li a {
    color: white;
}

.tabs-container-selector li a.active {
    color: #444444;
    background-color: white;
    border-color: white;
}

.tabs-container-selector li a:not(.active):hover {
    background-color: #444444;
}

.btn.transparent {
    color: #E9E9E9;
}

.btn.transparent:hover {
    color: white;
}

.btn:hover {
    text-decoration: none;
}

.input-with-addon > .btn:hover {
    background-color: #444444;
    color: #FFFFFF;
}

main nav .bank-details .bank-name {
    color: #FFFFFF;
}

main nav .bank-details .bank-name .bank-sum {
    color: #C5C6C9;
}

main nav .bank-details > li.active .bank-name button:hover,
main nav .bank-details > li.active .bank-name button:focus {
    color: white;
}

main nav .bank-details .amount.positive {
    color: var(--wells-received-color);
}

main nav .bank-details > li > .accounts > li a {
    border-left-color: #6792D8;
    color: #C5C6C9;
}

main nav .bank-details > li > .accounts > li a:hover,
main nav .bank-details > li > .accounts > li a:focus {
    background-color: rgba(255, 255, 255, 0.25);
    border-left-color: #242491;
    color: #FFFFFF;
}

main nav .bank-details > li > .accounts > li a.active:hover,
main nav .bank-details > li > .accounts > li a.active:focus {
    background-color: #6792D8;
    border-left-color: #6792D8;
}

.sidebar-list > ul > li,
.sidebar-section-list li > a {
    color: white;
}

.sidebar-section-list li > a:hover,
.sidebar-section-list li > a:focus {
    color: inherit;
    background-color: #3B3B3B;
}

.sidebar-section-list li > a.active {
    border-top-color: #2C2C2C;
    border-bottom-color: #2C2C2C;
}

.sidebar-section-list li > a.active,
.sidebar-section-list li span.badge {
    background: #6792D8;
    color: white;
}

.sidebar-section-list li > a.active span.badge {
    color: #6792D8;
    background-color: white;
}

.sidebar-about {
    color: white;
}

.sidebar-about a {
    color: inherit;
}

.search-summary li.received {
    color: var(--wells-received-color);
    background-color: transparent;
}

.search-summary li.spent {
    color: var(--wells-spent-color);
    background-color: transparent;
}

.search-summary li.saved {
    color: var(--wells-saved-color);
    background-color: transparent;
}
