@import '~../light/style.css';

:root {
    --main-font-color: white;
    --popover-background-color: #444444;
    --popover-border-color: #222222;
    --popover-shadow-color: #000000;
}

body {
    color: #F9FCFE;
    background: #3D424C;
}

a,
a:hover,
a:focus {
    color: #337AB7;
    text-decoration: none;
    outline: 0;
}

input[type='checkbox'] {
    border-color: #FFFFFF;
    background-color: transparent;
}

input[type='checkbox']:checked {
    color: #666666;
    background-color: #FFFFFF;
}

input[type='checkbox'].switch:not(:checked) {
    background-color: white;
}

input[type='checkbox'].switch:not(:checked)::after {
    background-color: #555555;
}

#content {
    background-color: #54575C;
    color: #F9FCFE;
}

header,
main nav {
    background-color: #2D2C2C;
    color: #FFFFFF;
}

main nav {
    border-right-color: transparent;
}

table caption {
    color: inherit;
    background-color: #444444;
}

table:not(.no-hover) > tbody > tr:hover {
    background-color: #4A4949;
}

table.striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #3C3C3C;
}

.tabs-container-selector li a {
    color: white;
}

.tabs-container-selector li a.active {
    color: #444444;
    background-color: white;
    border-color: white;
}

.tabs-container-selector li a:not(.active):hover {
    background-color: #444444;
}

.btn.transparent {
    color: #E9E9E9;
}

.btn.transparent:hover {
    color: white;
}

.btn:hover {
    text-decoration: none;
}

.input-with-addon > .btn:hover {
    background-color: #444444;
    color: #FFFFFF;
}
