/* Banks list component and account list component */
main nav .bank-details .icon {
    height: 48px;
    width: 48px;
    border-radius: 0;
    border: 2px solid #CBCBCB;
    margin-left: 0;
}

main nav .bank-details .bank-name {
    color: inherit;

    /* 50px (icon) + 8px (margin) */
    width: calc(100% - 58px);
}

main nav .bank-details .bank-name button {
    color: inherit;
    text-align: left;
}

main nav .bank-details .bank-name .bank-sum {
    color: #898A8E;
}

main nav .bank-details > li {
    border: none;
}

main nav .bank-details > li.active .bank-name,
main nav .bank-details > li .bank-name button:hover,
main nav .bank-details > li .bank-name button:focus {
    color: #6792D8;
}

main nav .bank-details > li.active .bank-name button:hover,
main nav .bank-details > li.active .bank-name button:focus {
    color: #444444;
}

main nav .bank-details > li > .accounts {
    margin-left: 0;
}

main nav .bank-details > li > .accounts > li {
    margin-bottom: 1px;
}

main nav .bank-details a {
    color: inherit;
}

main nav .bank-details .amount.positive {
    color: #0D59D2;
}

main nav .bank-details .amount.negative {
    color: #F26C4F;
}

main nav .bank-details > li > .accounts > li a {
    border-left: 4px solid #CECECE;
    color: inherit;
}

main nav .bank-details > li > .accounts > li a:hover,
main nav .bank-details > li > .accounts > li a:focus {
    border-left-color: #6792D8;
    background-color: #E4E4E4;
}

main nav .bank-details > li > .accounts > li a.active {
    background-color: #6792D8;
    border-left-color: transparent;
    color: white;
}

main nav .bank-details > li > .accounts > li a.active:hover,
main nav .bank-details > li > .accounts > li a.active:focus {
    border-left-color: #5959D4;
}

main nav .bank-details > li > .accounts > li a.active .amount.positive {
    color: white;
}

main nav .bank-details > li > .accounts > li a.active .amount.negative {
    color: #F5A4A4;
}
