/* Sidebar list of sections (operations, settings, etc.) */
.sidebar-section-list {
    border-top: 1px solid #C9CBD0;
    padding-top: 15px;
}

.sidebar-section-list li {
    color: inherit;
    padding: 0;
    border: none;
    background: none;
    background-color: transparent;
}

.sidebar-section-list li > a {
    color: #7F8081;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.sidebar-section-list li > a:hover,
.sidebar-section-list li > a:focus {
    background-color: #E4E4E4;
    color: #3E3E3E;
}

.sidebar-section-list li > a.active {
    background: #E4E4E4;
    color: #0D59D2;

    /* Add a border so there is a distinction between an active item and
    an item with :hover/:focus */
    border-top: 1px solid #F5F6F7;
    border-bottom: 1px solid #F5F6F7;
}

.sidebar-section-list li span.badge {
    background-color: #494C59;
    color: #E4E4E4;
}

.sidebar-about {
    color: #000000;
}
