{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "6"
                }
            }
        ]
    ],
    "env": {
        "tests": {
            "presets": [
                "@babel/preset-env"
            ],
            "plugins": [
                "@babel/plugin-syntax-dynamic-import",
                "@babel/plugin-syntax-import-meta",
                "@babel/plugin-proposal-class-properties",
                "@babel/plugin-proposal-json-strings"
            ]
        }
    },
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-syntax-import-meta",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-json-strings"
    ]
}
