/* Dashboard */
.dashboard-access {
    border: 1px solid #DDDDDD;
}

#dashboard .accesses-list > li > .dashboard-access-summary {
    background-color: #DDDDDD;
    border-bottom: 1px solid transparent;
}

#dashboard .accesses-list > li .bank-summary {
    color: #444444;
}

#dashboard .accesses-list > li .accounts li a::before {
    /* Use FontAwesome to display an external link icon */
    font: normal normal normal 14px/1 FontAwesome, sans-serif;
    content: '\f08e';
    margin-right: 2ex;
}

#dashboard .accesses-list > li .accounts li a,
#dashboard .accesses-list > li .accounts li a:visited {
    color: inherit;
}

#dashboard .accesses-list > li .accounts li a:hover::before,
#dashboard .accesses-list > li .accounts li a:active::before,
#dashboard .accesses-list > li .accounts li a:focus::before {
    color: #444444;
}

#dashboard .amount.positive {
    color: #00A651;
}

#dashboard .amount.negative {
    color: #F26C4F;
}

#dashboard .accesses-list > li .dashboard-access-charts h3 {
    text-align: center;
}
