/* Onboarding */
.onboarding {
    background-color: white;
}

.onboarding header {
    background-color: transparent;
    color: inherit;
}

.onboarding header h1 {
    color: inherit;
}

.onboarding-panes > a {
    border-color: #C5C5C5;
    border-radius: 2px;
    color: #444444;
}

.onboarding-panes > a:hover,
.onboarding-panes > a:focus {
    box-shadow: 5px 10px 5px #CCCCCC, -5px 10px 5px #CCCCCC;
}

.onboarding-panes > a > p:last-child {
    color: white;
    text-transform: uppercase;
}

.onboarding-panes .add-first-access-pane-button {
    background-color: #00A651;
}

.onboarding-panes .import-pane-button {
    background-color: #0072BC;
}

.onboarding-panes .demo-pane-button {
    background-color: #DBAE34;
}
