/* Loading "overlay" */
#spinner-portal {
    background-color: #3D424C;
}

#spinner-portal > .loading-overlay {
    background-color: white;
}

#spinner-portal > .loading-overlay h3 {
    background-color: #F1F1F1;
    color: #777777;
}
