@import '~../light/fonts.css';
@import '~../light/icons.css';
@import '~../light/forms.css';
@import '~../light/loading.css';
@import '~../light/error-reporter.css';
@import '~../light/header.css';
@import '~../light/settings-menu.css';
@import '~../light/menu/about.css';
@import '~../light/modals.css';
@import '~../light/sections/onboarding.css';
@import '~../light/sections/categories.css';
@import '~../light/sections/duplicates.css';
@import '~../light/sections/about.css';
@import '~../light/sections/reports/account-summary.css';
@import '~../light/sections/reports/search-summary.css';
@import '~./menu/banks.css';
@import '~./menu/sections.css';
@import '~./sections/reports/reports.css';

body {
    color: #717171;
    background: #3D424C;
}

a,
a:hover,
a:focus {
    color: #337AB7;
    text-decoration: none;
    outline: 0;
}

#content {
    background: #FFFFFF;
}

main nav {
    background-color: #2B303A;
    color: white;
}

.account-summary {
    color: white;
    background-color: var(--wells-balance-color);
    border-radius: 3px;
    border: none;
    padding-left: 1em;
    box-shadow: none;
}

.account-summary .icon {
    position: static;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 2em;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    margin-right: 1em;
}

@media (max-width: 768px) {
    .account-summary {
        display: block;
        padding: 0.5em;
    }

    .account-summary .icon {
        position: absolute;
        margin-top: 20px;
        margin-left: 10px;
    }
}

.search-summary li.received,
.search-summary li.spent,
.search-summary li.saved {
    border: none;
    color: white;
}

.search-summary li.received {
    background-color: var(--wells-received-color);
}

.search-summary li.spent {
    background-color: var(--wells-spent-color);
}

.search-summary li.saved {
    background-color: var(--wells-saved-color);
}
