@import '~./fonts.css';
@import '~./icons.css';
@import '~./forms.css';
@import '~./loading.css';
@import '~./error-reporter.css';
@import '~./header.css';
@import '~./settings-menu.css';
@import '~./menu/banks.css';
@import '~./menu/sections.css';
@import '~./menu/about.css';
@import '~./modals.css';
@import '~./sections/onboarding.css';
@import '~./sections/reports.css';
@import '~./sections/categories.css';
@import '~./sections/duplicates.css';
@import '~./sections/about.css';

body {
    color: #717171;
    background: #3D424C;
}

a,
a:hover,
a:focus {
    color: #337AB7;
    text-decoration: none;
    outline: 0;
}

#content {
    background: #FFFFFF;
}

main nav {
    background-color: #2B303A;
    color: white;
}

.foldable-panel {
    border-radius: 3px;
    border-color: #CFD9DB;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}

.foldable-panel > h3 {
    background-color: #F1F1F1;
    color: #777777;
}

.foldable-panel > .foldable-panel-body {
    border-top-color: inherit;
}
