table.bank-accounts-list {
    table-layout: fixed;
}

table.bank-accounts-list .icon {
    transform: scale(0.75);
    transform-origin: center left;
}

table.bank-accounts-list td {
    vertical-align: middle;
}

table.bank-accounts-list td.account-label {
    /* Due to the absolute position of the label-component-container, the middle vertical alignment
    won't work as expected */
    vertical-align: top !important;
}

table.bank-accounts-list td.actions {
    /* 3 x 1em (font size) + 2 x 1em (margin between buttons) + 2 x 10px padding */
    width: calc(5em + 20px);
    font-size: 1em;
    text-align: right;
}

table.bank-accounts-list td.actions > *:not(:first-child) {
    margin-left: 1em;
}

@media screen and (max-width: 768px) {
    table.bank-accounts-list td.iban {
        display: none;
    }
}

table.bank-accounts-list .enabled-status {
    margin-right: 0.5em;
}

.bank-accesses-section .top-toolbar {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    .bank-accesses-section .top-toolbar {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .bank-accesses-section .top-toolbar > a {
        width: 100%;
    }
}

table.recurring-transactions-list th {
    vertical-align: top;
}

table.recurring-transactions-list th.label {
    min-width: 60%;
}

@media screen and (max-width: 768px) {
    table.recurring-transactions-list {
        table-layout: fixed;
    }

    table.recurring-transactions-list th.label {
        min-width: unset;
    }

    table.recurring-transactions-list th.label,
    table.recurring-transactions-list td.label {
        word-wrap: break-word;
    }

    table.recurring-transactions-list th.type,
    table.recurring-transactions-list th.day,
    table.recurring-transactions-list td.type,
    table.recurring-transactions-list td.day {
        display: none;
    }

    table.recurring-transactions-list th.actions {
        width: 4em;
    }
}

form.account-edition #iban,
form.account-edition #merge-into-account {
    display: flex;
    align-items: center;
    gap: 1em;
}
