td.account-title #{model.get("title")}
td.account-title
    span.account-details n°#{model.get("accountNumber")}
td
    span.text-right
    a.btn.btn-small.btn-cozy.pull-right.alert-management
        | manage reports and notifications
td
    span.text-right
    a.btn.btn-small.btn-cozy.pull-right.delete-account
        | #{window.i18n("accounts_delete_account")}