h2 #{model.get("title")}
p
    span.last-checked Last checked #{moment(moment(model.get("lastChecked"))).fromNow()}. 
    a.recheck-button.btn-link recheck now

.text-center.loading.loader-operations
    img(src="./loader_big_blue.gif")

table.table.tablesorter.table-striped.table-hover
    thead
        tr
            th.text-left Date
            th.text-center Title
            th.text-right Amount
    tbody#table-operations
