.navbar.navbar-fixed-top.navbar-inverse
  .container
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.nav-collapse')
      span.icon-bar
      span.icon-bar
      span.icon-bar
    span.navbar-brand Cozy PFM
    .nav-collapse.collapse
      ul.nav.navbar-nav
        li.active
          a#menu-pos-balance(href='#') Balance
        li
          a#menu-pos-accounts(href='#accounts') Accounts
        li
          a#menu-pos-new-bank(data-toggle='modal', href='#add-bank-window') Add a new bank

      ul.nav.navbar-nav.pull-right
        p.navbar-text
          | overall balance 
          span#total-amount +12967.72

#content.container
  .row.content-background
    .col-lg-4.content-left-column

      .row.accounts-top
        .col-lg-8
          p.pull-left Le Crédit Lyonnais
        .col-lg-4
          p.pull-right +12942.23 
            span.euro-sign &euro;
      .row.accounts-sub
        .col-lg-8
          p.pull-left Compte bancaire
        .col-lg-4
          p.pull-right +12942.23 
            span.euro-sign &euro;

      .row.accounts-top.active
        .col-lg-8
          p.pull-left Société Générale
        .col-lg-4
          p.pull-right +25.49 
            span.euro-sign &euro;
      .row.accounts-sub
        .col-lg-8
          p.pull-left Compte bancaire 1
        .col-lg-4
          p.pull-right +26.49 
            span.euro-sign &euro;
      .row.accounts-sub
        .col-lg-8
          p.pull-left Compte bancaire 2
        .col-lg-4
          p.pull-right -1.00 
            span.euro-sign &euro;



    .col-lg-8.content-right-column
      h2 Société Générale

      table#table-operations.table.table-striped.table-hover
        tbody
          tr
            td.operation-date 17/07/2013
            td.operation-title Ferrari Paris
            td.operation-amount
              span.pull-right -490550.00
          tr.success
            td.operation-date 17/07/2013
            td.operation-title CB Tesco
            td.operation-amount
              span.pull-right.positive-balance +123.30
          tr
            td.operation-date 17/07/2013
            td.operation-title CB Intermarché
            td.operation-amount
              span.pull-right -12.90
          tr
            td.operation-date 17/07/2013
            td.operation-title Ferrari Paris
            td.operation-amount
              span.pull-right -490550.00
          tr
            td.operation-date 17/07/2013
            td.operation-title CB Apple
            td.operation-amount
              span.pull-right - 1899.00
          tr
            td.operation-date 17/07/2013
            td.operation-title CB Intermarché
            td.operation-amount
              span.pull-right -1.23
          tr
            td.operation-date 17/07/2013
            td.operation-title CB Intermarché
            td.operation-amount
              span.pull-right -25.39
          tr
            td.operation-date 17/07/2013
            td.operation-title CB Intermarché
            td.operation-amount
              span.pull-right -0.12
          tr
            td.operation-date 17/07/2013
            td.operation-title Ferrari Paris
            td.operation-amount
              span.pull-right -490550.00
          tr
            td.operation-date 17/07/2013
            td.operation-title CB Apple
            td.operation-amount
              span.pull-right - 1899.00
          tr
            td.operation-date 17/07/2013
            td.operation-title CB Intermarché
            td.operation-amount
              span.pull-right -1.23
          tr
            td.operation-date 17/07/2013
            td.operation-title CB Intermarché
            td.operation-amount
              span.pull-right -25.39
          tr
            td.operation-date 17/07/2013
            td.operation-title CB Intermarché
            td.operation-amount
              span.pull-right -0.12
          tr
            td.operation-date 17/07/2013
            td.operation-title CB Apple
            td.operation-amount
              span.pull-right - 1899.00
          tr
            td.operation-date 17/07/2013
            td.operation-title CB Intermarché
            td.operation-amount
              span.pull-right -1.23
          tr
            td.operation-date 17/07/2013
            td.operation-title CB Intermarché
            td.operation-amount
              span.pull-right -25.39
          tr
            td.operation-date 17/07/2013
            td.operation-title CB Intermarché
            td.operation-amount
              span.pull-right -0.12
          tr
            td.operation-date 17/07/2013
            td.operation-title Ferrari Paris
            td.operation-amount
              span.pull-right -490550.00
          tr
            td.operation-date 17/07/2013
            td.operation-title CB Apple
            td.operation-amount
              span.pull-right - 1899.00
          tr
            td.operation-date 17/07/2013
            td.operation-title CB Intermarché
            td.operation-amount
              span.pull-right -1.23
          tr
            td.operation-date 17/07/2013
            td.operation-title CB Intermarché
            td.operation-amount
              span.pull-right -25.39
          tr
            td.operation-date 17/07/2013
            td.operation-title CB Intermarché
            td.operation-amount
              span.pull-right -0.12

  #add-bank-window.modal
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') x
          h4.modal-title Add a new bank
        .modal-body
          form
            fieldset
              legend Bank
              .form-group
                select.form-control
                  option Le Crédit Lyonnais
                  option Société Générale
            fieldset
              legend Credentials
              .form-group
                label(for='inputLogin') Login
                input#inputLogin.form-control(type='text', placeholder='enter login')
              .form-group
                label(for='inputPass') Password
                input#inputPass.form-control(type='password', placeholder='enter password')
          h3.important-notice Security notice
          p
            | In order to protect our customers, we implemented the best solutions.
          p
            | We are great, because ...
        .modal-footer
          a.btn.btn-link(data-dismiss='modal',href='#') cancel
          a.btn.btn-success(href='#') Verify & Save

  //.row#foot
    .col-lg-12
      p.text-muted
        | Click here to read about 
        a(href='#') our highest security standards
      p.text-muted.pull-right
        a(href='http://cozycloud.cc') CozyCloud.cc 
        | - the cloud you own.