br
table#search-table.table.tablesorter.table-striped.table-hover
    thead
        tr
            th.text-left #{window.i18n("header_date")}
            th.text-center #{window.i18n("header_title")}
            th.text-right #{window.i18n("header_amount")}
    tbody#search-operations-table-body
