.row.accounts-top
    .col-lg-7
        p.pull-left 
            span.bank-title-loading
                img(src="./loader.gif") 
            span.bank-title
                |  #{model.get('name')}
    .col-lg-5
        p.pull-right.bank-title-checkbox
            if model.checked
                input(type="checkbox", checked).choice-bank
            else
                input(type="checkbox").choice-bank