br
table#search-table.table.tablesorter.table-striped.table-hover
    thead
        tr
            th.sort-date.text-left #{window.i18n("header_date")}
            th.sort-title.text-center #{window.i18n("header_title")}
            th.sort-amount.text-right #{window.i18n("header_amount")}
    tbody#search-operations-table-body
