.row.accounts-sub
    .col-lg-7
        p.pull-left #{model.get('title')}
    .col-lg-5
        p.pull-right
            if model.checked
                input(type="checkbox", checked).choice-account
            else
                input(type="checkbox").choice-account
