.account-summary {
    color: var(--wells-balance-color);
    border: 1px solid currentColor;
    background-color: transparent;
    border-radius: 0;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    padding-left: 5.5em;
}

.account-summary > * {
    font-size: 1.5em;
}

.account-summary .icon {
    margin: 0;
    border-radius: 0;
    background-color: var(--wells-balance-color);
    color: white;
    display: flex;
    width: 3em;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.account-summary .date {
    text-transform: lowercase;
}

.account-summary .amount {
    font-weight: bold;
    text-align: right;
}

@media (max-width: 768px) {
    .account-summary > * {
        font-size: 1em;
    }

    .account-summary > .amount {
        font-size: 1.5em;
    }

    .account-summary,
    .account-summary .amount {
        text-align: right;
    }
}
