.operation-table {
    border: 0;
}

.operation-table thead th {
    border-top: none;
}

.operation-table td {
    vertical-align: middle;
}

.operation-table th,
.operation-table td {
    border-left: 0;
    border-right: 0;
}

.operation-table tr:nth-last-child(2) td {
    border: 0;
}

.operation-table tr.month-year-separator {
    text-align: left;
    font-weight: bold;
}

.operation-table tr.month-year-separator:hover {
    background-color: transparent;
}

/* Due to bug a painting bug in Firefox (see https://bugzilla.mozilla.org/show_bug.cgi?id=1637225),
 * an unwanted border might appear on the separators when modifying the category of a row below.
 * This hack literally applies a "patch" (a rectangle with the color of the background) above the
 * border.
 */
.operation-table tr.month-year-separator td::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -3px;
    width: 6px;
    background-color: white;
}

.operation-table td.amount {
    font-weight: bold;
}

.operation-table > tbody > tr.income td.amount {
    color: #38BD13;
}

@media (max-width: 620px) {
    .operation-table th,
    .operation-table td {
        padding-left: 5px;
        padding-right: 5px;
    }
}
