!!! 5
html

  head
    title #{title}
    script(src='javascripts/vendor.js')
    script(src='javascripts/app.js')
    link(rel='stylesheet', href='stylesheets/app.css')

  body

    header#header
      h2#header-title
        Cozy template 
      span manage your templates

    block content
      .container
        #content  

  script
    require('initialize');
